
/* Post styles */
.post {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post-header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #333; /* Change color as needed */
  font-size: 24px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.post-date {
  color: #666;
}

.post-content {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.post-footer {
  padding: 20px;
  text-align: right;
}

.read-more {
  color: #007bff;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

img {
  width: 50%;
  height: 50%;
  padding: 40px;

}

.post-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.post-image img {
  padding: 8px;
}

.author-infor {
  display: flex;
  margin: 16px;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.infor {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.infor p {
  margin: 0px;
}

